# Frontend Environment Variables

# Backend API URL
NEXT_PUBLIC_API_URL=http://localhost:8000/api

# Stripe Publishable Key (get from https://dashboard.stripe.com/apikeys)
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_live_51Sh16ERPKbr5p4YJXtQdAwzzR7ARrtAQau3C1D5q7qnL8evrKchoJiNRtrmdvV4Hr1A1oa6laJ89kq2NwNM6TlLJ00s4dFzHVk

# Google Analytics (optional)
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX
